/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 0 20px; /* Reduced padding on the sides to better align the header with page content */
}

.site-header {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex; /* Use flexbox to align logo and site title */
    justify-content: flex-start; /* Align content to the start */
    align-items: center; /* Vertical alignment */
}

.site-title {
    font-size: 24px;
    color: #0056b3;
    text-decoration: none;
    display: flex;
    align-items: center; /* Ensures vertical alignment with the logo */
    margin-left: 20px; /* Ensures it starts at the same point as the text below */
}

.header-logo {
    height: 130px;
    margin-right: 20px; /* Maintains a small gap between the logo and the title */
}


.site-nav {
    text-align: right;
    padding-right: 20px;
}

.nav-trigger {
    display: none; /* Hide checkbox */
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
}

.menu-icon svg {
    fill: #333333;
}

.page-content {
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-list-heading {
    color: #333333;
    font-size: 1.5em;
    margin-top: 20px;
}

.post-list {
    padding: 0;
}

.post-meta {
    font-size: 0.85em;
    color: #777777;
}

.post-link {
    color: #1a0dab;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #fff;  /* Changed from blue to white */
    color: #333333;             /* Ensuring text is visible on a white background */
    padding: 20px;
    text-align: center;
}

.social-media-list li a, .contact-list li a, .u-email {
    color: #0056b3;             /* Optional: Change link colors if needed for better visibility */
}

.svg-icon {
    fill: #0056b3;              /* Ensure SVG icons are visible against white background */
}


.footer-col {
    margin-bottom: 20px;
}
