/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.site-header, .site-footer {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.site-title {
    font-size: 24px;
    color: #0056b3;
    text-decoration: none;
    padding-left: 20px;
    display: flex; /* Ensures flex layout for logo and text alignment */
    align-items: center; /* Aligns the logo and the title text vertically */
}

.header-logo {
    height: 100px; /* Control the size of the logo */
    margin-right: 10px; /* Space between the logo and title text */
    display: block; /* Ensures the image is properly displayed */
}

.site-nav {
    text-align: right;
    padding-right: 20px;
}

.nav-trigger {
    display: none; /* Hide checkbox */
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
}

.menu-icon svg {
    fill: #333333;
}

.page-content {
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-list-heading {
    color: #333333;
    font-size: 1.5em;
    margin-top: 20px;
}

.post-list {
    padding: 0;
}

.post-meta {
    font-size: 0.85em;
    color: #777777;
}

.post-link {
    color: #1a0dab;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-list, .social-media-list {
    padding: 0;
}

.social-media-list li {
    display: inline;
    margin-right: 10px;
}

.svg-icon {
    width: 24px;
    height: 24px;
}

.footer-col {
    margin-bottom: 20px;
}
